<div>
  <div class="box-target boxcalendar">
    <div class="title-boxcalendar">
      <span>Conexiones de agenda para hoy</span>
    </div>
    <table class="table-calendar">
      <tbody style="width: 100%">
        <tr>
          <td>
            <div class="a bordertable"></div>
            <strong>{{ monitor[2].localized_name }}</strong>
          </td>
          <td><span>Llamar</span><br /><span>Descuento temporada</span></td>
          <td class="options">
            <span class="icons material-icons">fiber_manual_record</span
            ><span class="icons material-icons">phone</span
            ><span class="icons material-icons">message</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="b bordertable"></div>
            <strong>{{ monitor[12].localized_name }}</strong>
          </td>
          <td><span>Llamar</span><br /><span>Descuento temporada</span></td>
          <td class="options">
            <span class="icons material-icons">fiber_manual_record</span
            ><span class="icons material-icons">phone</span
            ><span class="icons material-icons">message</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="c bordertable"></div>
            <strong>{{ monitor[44].localized_name }}</strong>
          </td>
          <td><span>Llamar</span><br /><span>Descuento temporada</span></td>

          <td class="options">
            <span class="icons material-icons">fiber_manual_record</span
            ><span class="icons material-icons">phone</span
            ><span class="icons material-icons">message</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d bordertable"></div>
            <strong>{{ monitor[54].localized_name }}</strong>
          </td>
          <td><span>Llamar</span><br /><span>Descuento temporada</span></td>

          <td class="options">
            <span class="icons material-icons">fiber_manual_record</span
            ><span class="icons material-icons">phone</span
            ><span class="icons material-icons">message</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="e bordertable"></div>
            <strong>{{ monitor[29].localized_name }}</strong>
          </td>
          <td><span>Llamar</span><br /><span>Descuento temporada</span></td>

          <td class="options">
            <span class="icons material-icons">fiber_manual_record</span
            ><span class="icons material-icons">phone</span
            ><span class="icons material-icons">message</span>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
