<div class="header-monitor">
  <div class="title-monitor-today">
    <strong>Tu plan de hoy</strong>
</div>
        <div class="management">
            <span>Ir a la gestion de llamdados</span>
            <span class=" material-icons">chevron_right</span>
        </div>
</div>

<div class="monitor-today">
  <div class="box-target box-target-margin">
    <div class="box-indicator color-indicator1">
      <div class="circle-indicator">
        <span class="text-circle">{{ mtoday[42].wins }}</span>
      </div>
    </div>
    <div class="data-board">
      <span class="text-board">Leads de primer conacto</span>

      <div class="data">
        <span class="material-icons">phone</span>
        <span class="">{{ mtoday[4].wins }}</span>
      </div>
      <div class="data">
        <span class="material-icons">message</span>
        <span>{{ mtoday[2].wins }}</span>
      </div>
    </div>
  </div>

  <div class="box-target box-target-margin">
    <div class="box-indicator color-indicator2">
      <div class="circle-indicator">
        <span class="text-circle">{{ mtoday[5].wins }}</span>
      </div>
    </div>
    <div class="data-board">
      <span class="text-board">Leads de primer conacto</span>

      <div class="data">
        <span class="material-icons">phone</span>
        <span class="">{{ mtoday[12].wins }}</span>
      </div>
      <div class="data">
        <span class="material-icons">message</span>
        <span>{{ mtoday[72].wins }}</span>
      </div>
    </div>
  </div>

  <div class="box-target box-target-margin">
    <div class="box-indicator color-indicator3">
      <div class="circle-indicator">
        <span class="text-circle">{{ mtoday[92].wins }}</span>
      </div>
    </div>
    <div class="data-board">
      <span class="text-board">Leads de primer conacto</span>

      <div class="data">
        <span class="material-icons">phone</span>
        <span class="">{{ mtoday[55].wins }}</span>
      </div>
      <div class="data">
        <span class="material-icons">message</span>
        <span>{{ mtoday[35].wins }}</span>
      </div>
    </div>
  </div>
</div>
