<div class="box-target box-target-column">
  <span class="text-textgoal">Meta grupal</span>

  <div class="target-bar">
    <div class="text-textgoal textgoal">
      <span>Leads obtenidos</span><span>200/400</span>
    </div>
    <div class="state-bar">
      <mat-progress-bar
        class="progress-bar"
        [color]="color"
        [value]="value"
        [mode]="mode"
        [bufferValue]="bufferValue"
      ></mat-progress-bar>
    </div>
  </div>
  <div class="target-bar">
    <div class="text-textgoal textgoal">
      <span>Matriculas realizadas</span><span>50/100</span>
    </div>
    <div class="state-bar">
      <mat-progress-bar
        class="progress-bar"
        [color]="color"
        [value]="14"
        [mode]="mode"
        [bufferValue]="74"
      ></mat-progress-bar>
    </div>
  </div>
</div>
