<div class="navbar boxnav">
  <div class="item">
    <div class="navitem kuepa">
      <img
        src="../../../../assets/img/kuepaEduTech.png"
        alt=""
        style="width: 54px"
      />
    </div>
    <div class="navitem">
      <div class="borderitem"></div>
      <div class="navicon flaticon-shelter"></div>
    </div>
    <div class="navitem">
      <div class="borderitem"></div>
      <div class="navicon flaticon-clipboard-with-text"></div>
    </div>
    <div class="navitem">
      <div class="borderitem"></div>
      <div class="navicon flaticon-letter-with-text-lines"></div>
    </div>
  </div>

  <div class="item" style="margin-bottom: 50px;">
    <div class="navitem"><div class="navicon flaticon-two-gears"></div></div>
    <div class="navitem">
      <div class=""></div>
      <div class="navicon"><img src="./../../../../assets/img/persona.jpg" alt=""></div>
    </div>
  </div>
</div>
