<div class="box-target">
  <div class="spiner-boxtarget">
    <div class="title-boxtarget">{{ user[2].wins }}%</div>
    <mat-spinner
      [color]="color"
      [mode]="mode"
      [value]=user[2].wins
      strokeWidth="7"
    ></mat-spinner>
  </div>
  <div class="column-target">
    <div class="box-text">
      <span class="text-textTarget"
        >Leads <br />
        obtenidos</span
      >
      <div class="num-textTarget">{{ user[2].wins }}/{{ user[2].games_played }}</div>
    </div>

    <div class="box-text">
      <span class="text-textTarget"
        >Leads <br />
        obtenidos</span
      >
      <div class="num-textTarget">{{ user[2].wins }}/{{ user[2].games_played }}</div>
    </div>
  </div>

  <div class="column-target">
    <div class="box-text">
      <span class="text-textTarget"
        >Leads <br />
        obtenidos</span
      >
      <div class="num-textTarget">{{ user[2].wins }}/{{ user[2].games_played }}</div>
    </div>

    <div class="box-text">
     
    </div>
  </div>
</div>
